.allDelivery {
  margin-top: 5%;
}

.delivery {
  display: flex;
  width: 95%;
  margin: auto;
  border: 1px solid black;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
}

.delivery p {
  font-size: 1.1rem;
}

.deleteDelivery {
  font-size: 1.7rem;
  cursor: pointer;
}
