.header {
  width: 100%;
  height: 100px;
  background-color: rgb(150, 247, 247);
}

.link {
  width: 8%;
  height: 35px;
  text-decoration: none;
  margin-left: 2%;
  padding: 8px;
  margin-top: 10px;
  font-size: 1.4rem;
  float: left;
}

.home {
  width: 8%;
  height: 40px;
  float: right;
  margin-right: 4%;
  padding: 8px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 1.4rem;
}

.home:active {
  font-size: 1.25rem;
}

.link:active {
  font-size: 1.25rem;
}

.authorization {
  width: 20%;
  height: 40px;
  margin-right: 30px;
  float: right;
}

.authorization a {
  width: 42%;
}

.logOut {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(227, 35, 35);
  color: white;
  cursor: pointer;
}

.logOut:active {
  padding: 8px;
}

.account {
  font-size: 3rem;
  margin-top: 15px;
  cursor: pointer;
}

.accountList {
  margin-right: 35px;
}

.accountList ul li {
  list-style: none;
  font-size: 1.3rem;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.accountList ul li a {
  color: black;
}
