.header {
  width: 100%;
  height: 100px;
  background-color: rgb(150, 247, 247);
}

.link {
  text-decoration: none;
  padding: 8px;
  font-size: 1.4rem;
  float: left;
}

.accountIcon {
  font-size: 2.5rem;
  cursor: pointer;
}

.row {
  width: 80%;
}

.productList {
  width: 80%;
  float: left;
}
.product {
  width: 100px;
}

.goodsList {
  display: none;
}

@media (max-width: 1199px) {
  .goodsContainer {
    display: none;
  }
  .accountIcon {
  }
  .account {
    width: 20%;
  }
  .goodsList {
    display: block;
    width: 80%;
  }
  .variantsGoods {
  }
}
