.App {
  text-align: center;
}

a {
  color: rgb(61, 54, 54);
  text-decoration: none;
}

.active {
  color: rgb(255, 255, 255);
  background-color: rgb(61, 194, 59);
  border-radius: 10px;
}

/* .container {
  margin: auto;
  width: 100%;
} */

/* .product {
  margin-left: 30px;
} */

img {
  width: 160px;
  height: 140px;
  cursor: pointer;
}

table {
  width: 70% !important;
  border: 1px solid black;
  margin: auto;
}

/* .buy {
  font-size: 1.7rem;
  width: 40%;
  height: 50px;
  border-radius: 7px;
  border: 1px solid rgb(132, 132, 131);
  background-color: rgb(24, 169, 34);
  cursor: pointer;
} */

/* .buy:active {
  color: white;
} */

.basket {
  font-size: 2.5rem;
  position: fixed;
}

.basketLength {
  position: fixed;
  font-size: 1.5rem;
  margin-left: 97%;
  margin-top: 4%;
}

.dropdown {
  width: 15%;
  float: right;
}
